<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col size="12" style="flex-grow: 1;">
        <ng-container *ngIf="user | async; else login">

          <div class="notification is-success">
            Congrats You logged in without a password!
          </div>

          <ion-button (click)="logout()" class="button">Signout</ion-button>

        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-template #login>
  <ion-item>
    <ion-label for="email" class="label">Passwordless Auth</ion-label><br>
    <ion-input autofocus="true" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>


  <hr>

  <ion-button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</ion-button>

  <hr>

  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>

</ng-template>