<ion-content padding>
  <ng-container *ngIf="user | async; else login">

    <div class="notification is-success">
      Congrats You logged in without a password!
    </div>

    <ion-button (click)="logout()" class="button">Signout</ion-button>

  </ng-container>
</ion-content>
<ng-template #login>
  <ion-label for="email" class="label">Passwordless Auth</ion-label><br>
  <ion-input autofocus="true" color="light" type="email" class="input" [(ngModel)]="email"></ion-input>

  <hr>

  <ion-button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</ion-button>

  <hr>

  <div *ngIf="emailSent" class="notification is-info">
    Cool! We sent you an email with your login link
  </div>

  <div *ngIf="errorMessage" class="notification is-danger">
    {{ errorMessage }}
  </div>

</ng-template>